@font-face {
    font-family: 'PTSerif';
    src:    url('./PT_Serif-Web-Bold.ttf') format('truetype'),
            url('./PT_Serif-Web-BoldItalic.ttf') format('truetype'),
            url('./PT_Serif-Web-Italic.ttf') format('truetype'),
            url('./PT_Serif-Web-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'PTSerif';
    background: url('./icon.svg');
}